<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEER</title>
    {%load static %}
    <link rel="stylesheet" href="{% static 'app./style.css' %}"> 
</head>
<body class="bodyLeer"> 
    <div class="leer">
        <h1>LEER</h1>  
    </div>

    <div>
        <div class="Descripcion"> 
            <h2>Descripcion</h2>
            <p>Este archivo se usa para la lectura del archico de creacion</p> 
        </div>
    </div>

    <div class="cuerpo">
        <div >
            <table class="tabla" border> 
                <thead class="encabezado">
                    <tr>
                        <th>Nombre autor</th>
                        <th>Descipcion</th>
                        <th>Fecha</th>
                        <th>Nombre Libro</th> 
                    </tr>
                </thead>
                <tbody class="cuerpoTabla">
                    <tr>
                        <td>simon</td> 
                        <td>simon martinez</td>
                        <td>16/05/2005</td> 
                        <td>s</td> 
                    </tr>
                </tbody>
            </table>    
        </div>
    </div> 
</body>
</html>